{
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "semi": true,
    "trailingComma": "none",
    "bracketSameLine": true,
    "arrowParens": "always",
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "singleQuote": false
            }
        }
    ]
}